@model IEnumerable<Fleet_WorkShop.Models.VehicleReport>

<link href="~/ScriptsCss/Bindings.css" rel="stylesheet"/>
<style>
    #aligned {
        margin-top: -460px;
        margin-left: 1000px;
        position: fixed;
        display: block;
        padding:20px;
        font-size: 20px;
        color: brown;
    }
</style>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Workshop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sparepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobcardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandOverTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Workshop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sparepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobcardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandOverTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

        </tr>
    }

</table>
<div id="aligned">
    @Html.ActionLink("Back","Index","Home")
</div>