@model IEnumerable<Fleet_WorkShop.Models.VehicleReport>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>
<link href="~/ScriptsCss/Bindings.css" rel="stylesheet" />
<style>
    a {
        color: white;
        padding: 5px;
        margin: 10px;
        font-size: 14px;
        position: fixed;
        background-color: blueviolet;
    }
</style>

<script>
    $(function() {
        $('#btn').click(function () {
            $(".table").table2excel({
                exclude: ".noExl",
                name: "Lube wise Consumption",
                filename: "Lube wise Consumption" //do not include extension

            });
        })
    })
</script>
<h1 style="color: brown" align="center">Lubes Wise Consumption </h1>
@Html.ActionLink("Back", "LubesWiseConsumption", new { id = 1 })
<button type="submit" id="btn" class="btn btn-default" style="background-color: blue; color: white; margin-left: 750px;margin-bottom: 20px">Export</button>
<br/>
<table class="table" align="center" style="width: 90%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workshop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lubricant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workshop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lubricant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>

        </tr>
    }

</table>

<br/>

