@using Fleet_WorkShop.Models
@model LoginViewModel
<script src="~/ScriptsCss/jquery.min.js"></script>
<link href="~/ScriptsCss/bootstrap.min.css" rel="stylesheet"/>
<script src="~/ScriptsCss/bootstrap.min.js"></script>
<script src="~/ScriptsCss/sb-admin-2.js"></script>
<link href="~/ScriptsCss/sb-admin-2.min.css" rel="stylesheet"/>
<link href="~/ScriptsCss/metisMenu.min.css" rel="stylesheet"/>
<script src="~/ScriptsCss/metisMenu.min.js"></script>
<link href="~/ScriptsCss/font-awesome.min.css" rel="stylesheet"/>
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
<style>
   body {
       background-color:whitesmoke;
   }
</style>
<h4 style="color: brown"></h4>
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h1 class="h2" style="text-align: center; margin-top: 25%;">
            <i class="fa fa-ambulance" style="color:blueviolet"></i>&nbsp<strong style="color:maroon">Welcome to GVK EMRI</strong>
        </h1>
        <section id="loginForm">
            <div class="panel login-panel panel-primary" style="margin-top: 2%;">
            <div class="panel-heading" style="background-color:slategray">
                <h3 class="panel-title">Sign In</h3>
            </div>
                <div class="panel-body" style="padding: 20px;">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmployeeName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EmployeeName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Log in" class="btn btn-lg btn-success btn-block" style="background-color: cornflowerblue;border-color: cornflowerblue" />
                        </div>                      
                    }
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
    </div>
</div>

@*@section Scripts {
        @Scripts.Render("~/ScriptsCss/jquery.min.js")
    @Scripts.Render("~/ScriptsCss/jquery.min.js")
    @Scripts.Render("~/ScriptsCss/jquery.min.js")
    @Scripts.Render("~/ScriptsCss/jquery.min.js")
    @Scripts.Render("~/ScriptsCss/jquery.min.js")
    @Scripts.Render("~/ScriptsCss/jquery.min.js")
    }*@