@using System.Data
@model Fleet_WorkShop.Models.InventoryModel
<style>
    hr {
        border-style: solid;
        border-width: 1px;
        display: block;
    }
</style>
<style>
    span.error {
        color: red;
        display: block;
        font-size: 90%;
        visibility: hidden;
    }


    .container td { vertical-align: top; }

    .tablecontainer table {
        border-collapse: collapse;
        border-right: 1px solid #BFAEAE;
        border-top: 1px solid #BFAEAE;
        display: block;
        width: 100%;
    }

    .tablecontainer th { border-bottom: 2px solid #BFAEAE !important; }

    .tablecontainer th, .tablecontainer td {
        border-bottom: 1px solid #BFAEAE;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        text-align: left;
    }

    .ui-widget { font-size: 12px !important; }

    #lblAmount, #lblBillAmount { text-align: left; }
</style>

<script type="text/javascript">

    $(function() {
        $("#Qty,#Uprice").blur(function() {
            var unitPrice = $("#Uprice").val();
            var quantity = $("#Qty").val();
            var amount = parseInt(unitPrice) * parseInt(quantity);
            $("#Amt").val('');
            $("#Amt").val(amount);

            $("#Amt").focus();
        });
        $('#SparePartId').change(function() {
            var sparePartId = $('#SparePartId option:selected').val();
            $.ajax({
                type: "Post",
                url: '/Inventory/GetSpareCostDetails/' + sparePartId,
                data: JSON.stringify(sparePartId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response != 0) {
                        $('#Uprice').val(response);
                        $('#Qty').val('');
                        $('#Amt').val('');
                    }

                },
                failure: function(response) {
                    alert(response.responseText);
                }
            });
        });

    });

    $(function() {
        var orderItems = [];
        $('#btnAdd').click(function() {
            orderItems.push({
                ManufacturerName: $('#ManufacturerId option:selected').text(),
                ManufacturerId: $('#ManufacturerId option:selected').val(),
                SparePartId: $('#SparePartId').val(),
                SparePartName: $('#SparePartId option:selected').text(),
                UnitPrice: $('#Uprice').val().trim(),
                Quantity: $('#Qty').val().trim(),
                Amount: $('#Amt').val()
            });
            generatedItemsTable();
            $('#SparePartId option:selected').text('--Select--');
            $('#Uprice').val('');
            $('#Qty').val('');
            $('#Amt').val('');
            return false;

        });

        function generatedItemsTable() {
            if (orderItems.length > 0) {

                var $table = $('<table id=tbl/>');

                $table.append(
                    '<thead><tr><th>Manufacturer Name</th><th>SpareParts Name</th><th>Unit Price</th><th>Quantity</th><th>Amount</th></tr></thead>');

                var $tbody = $('<tbody/>');
                $.each(orderItems,
                    function(i, val) {

                        var $row = $('<tr/>');

                        $row.append($('<td/>').html(val.ManufacturerName));

                        $row.append($('<td/>').html(val.SparePartName));

                        $row.append($('<td/>').html(val.UnitPrice));

                        $row.append($('<td/>').html(val.Quantity));
                        $row.append($('<td class=amt/>').html(val.Amount));
                        var $remove = $('<a href="#">Remove</a>');
                        $remove.click(function(e) {
                            e.preventDefault();
                            orderItems.splice(i, 1);
                            generatedItemsTable();
                            getFinalBillAmount1();
                        });
                        $row.append($('<td/>').html($remove));
                        $tbody.append($row);
                    });

                $table.append($tbody);

                $('#orderItems').html($table);

            } else {
                $('#orderItems').html('');
                $('#lblAmount').text('');
                $('#txtQuantity').val('');
            }
        }
    });

    function getFinalBillAmount() {

        var sum = parseFloat($("#lblAmount").text());
        $('.amt').each(function() {
            sum += parseFloat($(this).text());
        });
        $('#lblBillAmount').text(sum);
    }


</script>
<div class="panel panel-primary" style="height: 100%; margin-top: 20px; width: 100%;" align="center">
    <div class="panel-heading">
        Billing Edit
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.Id)
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BillNo, new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.BillNo, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.BillNo, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Manufacturer, new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ManufacturerId, Model.Manufacturer, "--Select--", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Manufacturer, "", new {@class = "text-danger"})
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BillDate, new {@class = "control-label col-md-4"})
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.BillDate, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.BillDate, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpareParts, new {@class = "control-label col-md-4"})
                        <div class="col-md-8">

                            @Html.DropDownListFor(model => model.SparePartId, Model.SpareParts, "--Select--", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.SpareParts, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Uprice, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Uprice, new {htmlAttributes = new {@class = "form-control", @readonly = true}})
                        @Html.ValidationMessageFor(model => model.Uprice, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Amt, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Amt, new {htmlAttributes = new {@class = "form-control", @readonly = true}})
                        @Html.ValidationMessageFor(model => model.Amt, "", new {@class = "text-danger"})
                    </div>
                </div>


            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Qty, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Qty, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Qty, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-left: -180px">
                        <input type="submit" id="btnAdd" style="background-color: blue; color: white; width: 70px" value="Add" class="btn btn-default"/>
                    </div>
                    <div class="tablecontainer panel panel-primary" style="height: 60%; margin-left: -700px; margin-top: 50px; width: 150%;">
                        <div class="panel-heading">
                            Added Items
                        </div>
                        <div class="panel-body" id="AddedItemsId">


                            <table>

                                <tr>

                                    <th>Manufacturer Name</th>

                                    <th>SparePart Name</th>

                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>

                                </tr>

                                @if (ViewBag.CartItems != null)

                                {
                                    foreach (DataRow dr in (ViewBag.CartItems as DataTable).Rows)

                                    {
                                        <tr>

                                            <td>

                                                @dr["ManufacturerName"]

                                            </td>

                                            <td>

                                                @dr["PartName"]

                                            </td>

                                            <td>

                                                @dr["UnitPrice"]

                                            </td>
                                            <td>

                                                @dr["Quantity"]

                                            </td>
                                            <td>

                                                @dr["Amount"]

                                            </td>
                                            <td>
                                                <a href="#">Remove</a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </table>


                        </div>

                    </div>


                </div>
                <div class="tablecontainer panel panel-primary" style="height: 100%; margin-top: 50px; width: 100%;" align="center">
                    <div class="panel-heading">
                        Order New Items
                    </div>
                    <div class="panel-body" id="orderItems">
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin-left: -60px; margin-top: 20px;">
                    <input type="submit" id="btnEdit" style="background-color: blue; color: white; width: 100px" value="Save" class="btn btn-default"/>
                </div>
            </div>


        </div>
    }
</div>
<div>
    @Html.ActionLink("Back", "SaveInventoryDetails")
</div>