@model IEnumerable<Fleet_WorkShop.Models.InventoryModel>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.BillNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LubricantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAmount)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LubricantName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BillAmount)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditLubeDetails", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
            </td>
        </tr>
    }

</table>