@model IEnumerable<Fleet_WorkShop.Models.InventoryModel>


@{
    ViewBag.Title = "Lubes Details";
}
<link href="~/ScriptsCss/Bindings.css" rel="stylesheet" />
<style>
    hr {
        display: block;
        border-style: solid;
        border-width: 1px;
    }
</style>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        display: block;
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }

    #lblAmount, #lblBillAmount {
        text-align: left;
    }
</style>

<script type="text/javascript">
        $(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tr").filter(function () {
                 
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    $(this).prevAll('thead').first().show();
                });

            });
        });
</script>
<script type="text/javascript">
    $(function () {
        $("#txtQuantity").keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
    });
    function Validations() {
        var billNumber = $('#txtBillNumber').val();
        if (billNumber === "") {
            return alert('Bill Number is Mandatory');
        }
        var ddlvendor = $('#Vendor option:selected').text().toLowerCase();
        if (ddlvendor === '--select--' || ddlvendor === '') {
            return alert("Please select Vendor");
        }
        var billDate = $('#txtBillDate').val();
        if (billDate === "") {
            return alert('Bill Date is Mandatory');
        }
        var PoDate = $('#txtPODate').val();
        if (PoDate === "") {
            return alert('P.O Date is Mandatory');
        }
        var currentDate = new Date();
        if (PoDate > currentDate) {
            return alert("P.O Date should not be greater than current date");
        }
        var PoNumber = $('#txtPONumber').val();
        if (PoNumber === "") {
            return alert('P.O Number is Mandatory');
        }
        
        
        var ddlmanufacturer = $('#ManufacturerName option:selected').text().toLowerCase();
        if (ddlmanufacturer === '--select--' || ddlmanufacturer === '') {
            return alert("Please select Manufacturer");
        }
        var ddllubes = $('#Lubes option:selected').text().toLowerCase();
        if (ddllubes === '--select--' || ddllubes === '') {
            return alert("Please select Lubricant");
        }
        var quantity = $('#txtQuantity').val();
        if (quantity === "") {
            return alert('Enter Quantity');
        }
        var tbody = $("#tbl tbody");

        if (tbody.children().length == 0) {
            return alert('Please add Items');
        }
        return true;

    }
    $(function () {

        var $bill = 0;

        $("#txtQuantity,#txtunitprice").blur(function () {

                var unitPrice = $("#txtunitprice").val();
                var quantity = $("#txtQuantity").val();
                var amount = parseInt(unitPrice) * parseInt(quantity);
                $("#lblAmount").text(amount);

        });

    });
    $(document).ready(function () {

        $("#Lubes").prop("disabled", true);

        $("#ManufacturerName").change(function () {
            if ($('#ManufacturerName option:selected').text().toLowerCase() == "--select--") {
                $('#Lubes option:selected').text("");
                $('#Lubes').prop("disabled", true);
                $('#txtunitprice').val('');
                return false;
            }
            var serviceURL = '/Inventory/GetLubesDetailsForManufacturer';

            var data = {
                ManufacturerId: $('#ManufacturerName option:selected').val()
            }
            $.ajax({
                url: serviceURL,
                type: "POST",
                data: JSON.stringify(data),
                datatype: "json",
                contentType: 'application/json',

                success: function (Response) {

                    $('#Lubes').empty();
                    $('#Lubes').append('<option value=0 selected="selected">--Select--</option>');
                    for (var i = 0; i < Response.length; i++) {

                        $('#Lubes').append("<option value='" + Response[i].split('-')[1] + "' >" + Response[i].split('-')[0] + "</option>");

                    }

                    $('#Lubes').prop("disabled", false);


                }
                //error : function (err) {
                //    alert("Error in Getting Vehicles!!");
                //}

            });


        });
    });
    $(function () {
        debugger;
        $('#Lubes').change(function () {
            var LubricantId = $('#Lubes option:selected').val();
            if ($('#Lubes option:selected').text() == '--Select--')
            {
                $('#txtunitprice').val('');
            }
            $.ajax({
                type: "Post",
                url: '/Inventory/GetLubesCostDetails/' + LubricantId,
                data: JSON.stringify(LubricantId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != 0) {
                        $('#txtunitprice').val(response.Cost);
                        $('#lblLubricantNumber').text(response.LubricantNumber);
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });

    //function getValueOfSpares(dropDownValue) {
    //    window.location.href = '/Inventory/GetCostDetails/' + dropDownValue;
    //}
    function getFinalBillAmount()
    {

        var sum = parseFloat($("#lblAmount").text());
        $('.amt').each(function () {
            sum += parseFloat($(this).text());
        });
        $('#lblBillAmount').text(sum)

    }
    function getFinalBillAmount1() {

        var sum = 0;
        $('.amt').each(function () {
            sum += parseFloat($(this).text());
        });
        $('#lblBillAmount').text(sum)

    }


</script>
<script type="text/javascript">

    $(function() {
        $('#txtBillDate,#txtPODate').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });
    });

    $(function () {
        var orderItems = [];
        $('#btnAdd').click(function () {
            if ($('#ManufacturerName option:selected').text() == "--Select--" || $('#ManufacturerName option:selected').text() == "") {
                return false;
            }
            if ($('#txtQuantity').val().trim() == "") {
                return false;
            }
            getFinalBillAmount();
            orderItems.push({
                ManufacturerName: $('#ManufacturerName option:selected').text(),
                ManufacturerId: $('#ManufacturerName option:selected').val(),
                LubricantId: $('#Lubes').val(),
                LubricantName: $('#Lubes option:selected').text(),
                UnitPrice: $('#txtunitprice').val().trim(),
                Quantity: $('#txtQuantity').val().trim(),
                Amount: $('#lblAmount').text(),
            });

            //Clear fields
            //$('#txtunitprice').val('').focus();
            //$('#txtQuantity,#lblAmount').val('');
            GeneratedItemsTable();
            $('#ManufacturerName option:selected').val(0);
            $('#Lubes option:selected').text('--Select--');
            $('#txtunitprice').val('');
            $('#txtQuantity').val('');
            $('#lblAmount').text('');
            return false;

        });
        function GeneratedItemsTable() {
            if (orderItems.length > 0) {

                var $table = $('<table id=tbl/>');

                $table.append('<thead><tr><th>Manufacturer Name</th><th>Lubricant Name</th><th>Unit Price</th><th>Quantity</th><th>Amount</th></tr></thead>');

                var $tbody = $('<tbody/>');
                $.each(orderItems, function (i, val) {

                    var $row = $('<tr/>');

                    $row.append($('<td/>').html(val.ManufacturerName));

                    $row.append($('<td/>').html(val.LubricantName));

                    $row.append($('<td/>').html(val.UnitPrice));

                    $row.append($('<td/>').html(val.Quantity));
                    $row.append($('<td class=amt/>').html(val.Amount));
                    var $remove = $('<a href="#">Remove</a>');
                    $remove.click(function (e) {
                        e.preventDefault();
                        orderItems.splice(i, 1);
                        GeneratedItemsTable();
                        getFinalBillAmount1();
                    });
                    $row.append($('<td/>').html($remove));
                    $tbody.append($row);
                });

                $table.append($tbody);

                $('#orderItems').html($table);

            }
            else {
                $('#orderItems').html('');
                $('#lblAmount').text('');
                $('#txtQuantity').val('');
            }
        }
        $('#btn').click(function () {
            var serviceURL = '/Inventory/SaveLubesInventoryDetails';
            var data = {
                BillNo: $('#txtBillNumber').val(),
                BillDate: $('#txtBillDate').val(),
                VendorName: $('#Vendor option:selected').text(),
                VendorId: $('#Vendor option:selected').val(),
                BillAmount: $('#lblBillAmount').text(),
                PoNumber: $('#txtPONumber').val(),
                PoDate: $('#txtPODate').val(),
                itemmodel: orderItems
            };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != 0) {
                        alert('Record Inserted');
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        });

    });


</script>
@{ ViewContext.FormContext = new FormContext(); }
<div class="panel panel-primary" style="width: 100%; height: 100%; margin-top: 20px;" align="center">
    <div class="panel-heading">
        Lubricant Information
    </div>
    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Bill Number</label>
                    <div class="col-lg-8">
                        @*@Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control", placeholder = "Name",id="txtEmployeeName" })*@
                        <input type="text" class="form-control" id="txtBillNumber" placeholder="Name">
                        @*@Html.ValidationMessageFor(m => m.EmployeeName, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Bill Date</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtBillDate" onkeypress="return false;" placeholder="Bill Date">
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label  col-lg-4">Vendor</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("Vendor", ViewBag.Vendors as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4">Bill Amount</label>
                    <div class="col-lg-8">
                        <label id="lblBillAmount" class="form-control"></label>
                        @*<input type="text" class="form-control" id="txtContactNumber" placeholder="Contact Number" maxlength="10">*@
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label  col-lg-4">P.O Number</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtPONumber" placeholder="P.O Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-4" style="margin-left:-500px;margin-top:-50px">P.O Date</label>
                    <div class="col-lg-8">
                        <input type="text" style="margin-left:-670px ;margin-top:-50px" class="form-control" id="txtPODate" placeholder="P.O Date">
                    </div>
                </div>

            </form>
        </div>
        <hr />
        <div class="panel panel-primary" style="width: 100%; height: 100%; margin-top: 20px;" align="center">
            <div class="panel-heading">
                Orders
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-lg-4">Manufacturer</label>
                            <div class="col-lg-8">
                                @Html.DropDownList("ManufacturerName", ViewBag.VehicleManufacturer as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Lubricant</label>
                            <div class="col-lg-8">
                                @Html.DropDownList("Lubes", ViewBag.Lubes as IEnumerable<SelectListItem>, "--Select--", new
                           {
                               @class = "form-control"})
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-lg-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-lg-4">Unit Price</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" style="margin-top:10px;" id="txtunitprice" placeholder="Unit Price" maxlength="12" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Quantity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="txtQuantity" placeholder="Quantity">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-lg-6">
                    <form class="form-horizontal">
                        <div class="form-group ">

                            <label class="control-label   col-lg-4">Amount</label>
                            <div class="col-lg-8">
                                <label id="lblAmount" class="form-control" data-value="@Request.RequestContext.HttpContext.Session["Amount"]"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 col-lg-offset-10" style="margin-top:-50px">
                                <button type="submit" id="btnAdd" class="btn btn-default" style="background-color: blue; color: white">Add</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group " style="margin-left:600px;margin-top:-60px;width:400px">
                        <div class="col-lg-6">
                            LubricantNumber <label id="lblLubricantNumber" class="form-control" style="color:red"></label>
                        </div>
                    </div>
                </div>



                <div class="tablecontainer panel panel-primary" style="width: 100%; height: 100%; margin-top: 200px;" align="center">
                    <div class="panel-heading">
                        Order Details
                    </div>
                    <div class="panel-body" id="orderItems">
                    </div>
                </div>


            </div>

        </div>
        <div class="col-lg-6 col-lg-offset-6" style="margin-top:auto">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="submit" id="btn" class="btn btn-default" onclick="if(!Validations()) return false;" style="background-color: blue; color: white">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default" style="background-color: blue; color: white">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <input type="text" id="myInput" class="form-control" placeholder="Search Bill Number.." style="width:300px;float:left" align="left">
        <div class="col-lg-6" style="width:100%">
            <form class="form-horizontal">
                <div class="form-group">
                    <div style="margin-top:30px">
                        @Html.Partial("getLubesInventoryDetails");
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="panel-footer">

    </div>
</div>

