@using System.Data
<style>
    #tbl {
        border-collapse: collapse;
        width: 30%;
        border:none;
        margin-top: -30px;
    }
    #tbldates {
        border-collapse: collapse;
        width: 30%;
        border:none;
        margin-top: -30px;
    }
    #tbldates tr td {
        border-collapse:collapse;
        border:none;
        width:50px;
        word-spacing: 50%;
        text-align: left;
        color:brown;
        padding: 3px;
    }
    #tblwork {
        border-collapse: collapse;
        border: none;
        width: 20px;
        margin-top: -20px;
        word-spacing: 50%
    }
    #tblwork tr td {
        border-collapse:collapse;
        border:none;
        width:50px;
        word-spacing: 50%;
        text-align: left;
        color:brown;
        padding: 3px;
    }
    #tbl tr td {
        border-collapse: collapse;
        border:none;
        border-top: none;border-style: unset;
        word-spacing: 50%;
        text-align: left;
        color:brown;
        padding: 3px;
        }
    #tblwork tr:hover 
    {
        background-color: #f5f5f5;

    }
    #img1 {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        display: block;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        margin-top: -50px;
    }
    #tbltoalBill {
        border-collapse: collapse;
        border: 1px solid black;
        width: 30%;
        margin-top: -100px;
        margin-left: 600px;
    }
    #lbltotbill,#lblSparesTotalBill {
        margin-left: 600px;
        color: blueviolet;
        padding: 20px;
        font-size: 18px;
       
    }
    #lblComplaint {
        color: blueviolet;
        padding: 20px;
        font-size: 18px;
    }
    #lblsparess {
        margin-left: 370px;
        color: blueviolet;
        padding: 20px;
        font-size: 18px;
    }
    
    #tbltoalBill tr td{
        line-height: 40px;
        }
    #tblSpares {
        margin-top: 10px;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 10px;

    }
    #tbllubes {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #tblOutSourcing {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #tbllabours {
        border-collapse: collapse;
        width: 50%;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }
    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    #tbl, th, td {
        border: 1px solid black;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    th td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    td {
        height: 20px;
        vertical-align: bottom;
    }
    h1 {
        align: center;
        margin-left: 400px;
        font-family: sans-serif;
        text-decoration: underline;
        text-decoration-color: brown
    }
    #workdiv {
        color: blue;
        padding: 10px;
        word-spacing:10px;
         
    }
    #lbl #lbl1 #lbl2 {
        margin-left: 15px;
       
    }
    tr:hover {background-color: #f5f5f5;}
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<h2 align="center" style="color:blueviolet"><u>FLEET MAINTENANCE STATEMENT</u></h2>
<br/>
<table align="center" id="tblwork">
    <tr>
        <td>
            WorkShop:
        </td>
        <td>
            @ViewBag.WorkShopName 
        </td>
    </tr>
    <tr>
        <td>
            Mobile:
        </td>
        <td>
            @ViewBag.Mobile 
        </td>
    </tr>
    <tr>
        <td>
            Location:
        </td>
        <td>
            @ViewBag.Location
        </td>
    </tr>
</table>

<br/>
<h3 style="color:blueviolet; align-content: center; margin-top: -15px; padding: 20px;" align="center">Invoice</h3>
@*<div>
    <img id="img1" src="~/Images/GVK_Group.png" style="width: 200px; height: 100px;border-radius: 8px;" />
   
</div>*@

<table id="tbldates" align="right">
    <tr>
        <td>
            Date Of Repair:
        </td>
        <td>
            @ViewBag.DateOfRepair
        </td>
    </tr>
    <tr>
        <td>
            Date Of Completion:
        </td>
        <td>
            @ViewBag.CompletedDate
        </td>
    </tr>
</table>

        
<table id="tbl">
               
    @if (ViewBag.AddressDetails != null)

    {
        var dataTable = ViewBag.AddressDetails as DataTable;
        if (dataTable != null)
        {
            foreach (DataRow dr in dataTable.Rows)

            {
                <tr>
                    <td>
                        Vehicle Number:  
                    </td>
                    <td>
                        @ViewBag.VehicleNumber
                    </td>
                </tr>
                <tr>
                    <td>
                        District:  
                    </td>
                    <td>

                        @dr["District"]

                    </td> 
                </tr>
                <tr>
                    <td>
                        Location:
                    </td>

                    <td>

                        @dr["Location"]

                    </td> 
                </tr>
                    
                <tr>
                    <td>
                        Odometer:
                    </td>

                    <td>

                        @dr["Odometer"]

                    </td> 
                </tr>
                   
             
            }
        }
    }
 
</table>
<br/>
<label id="lblComplaint" style="margin-top: 15px;"><u>Maintenance Type</u></label>
<table id="tblComplaints">
   
    @if (ViewBag.NatureOfComplaint != null)

    {

        var dataTable = ViewBag.NatureOfComplaint as DataTable;
        if (dataTable != null)
        {
            var str = "";
            foreach (DataRow dr in dataTable.Rows)

            {

                str = str + ",  " + @dr["ServiceGroup_Name"];
                <br />
                //string.Join(", ", @dr["ServiceGroup_Name"]);

                str = str.TrimStart(',');
            }
            <p style="margin-top: -40px;color:brown">
                @str 
            </p>
          
        }
    }

</table>
        <table id="tbltoalBill">
            <tr>
                <th>Item</th>
                <th>Amount</th>

            </tr>
            <tr>
                <td>
                    Spare parts
                </td>
                <td>
                    @ViewBag.SparePartsBill
                </td>
            </tr>
            <tr>
                <td>
                    Lubricants
                </td>
                <td>
                    @ViewBag.LubesBill
                </td>
            </tr>
            <tr>
                <td>
                    Labor Charges
                </td>
                <td>
                    @ViewBag.LaborBill
                </td>
            </tr>
            <tr>
                <td>
                    OutSourcing Amount
                </td>
                <td>
                    @ViewBag.OutSourceBill
                </td>
            </tr>
        </table>
<label id="lblSparesTotalBill" style="color: brown; margin-top: 5px; margin-left: 685px;">Final Bill:  @ViewBag.FinalBillAmount</label>  
<br/>
<label id="lblsparess" style="margin-top: 15px"><u>Spare Parts</u></label>        
<table id="tblSpares" style="margin-bottom: 10px;">

    <tr>
        <th>Id</th>
        <th>Spare Parts</th>
        <th>Part Number</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Amount</th>

    </tr>

    @if (ViewBag.ShowSparesGrid != null)

    {
        var dataTable = ViewBag.ShowSparesGrid as DataTable;
        if (dataTable != null)
        {
            foreach (DataRow dr in dataTable.Rows)

            {
                <tr>

                    <td>

                        @dr["Id"]

                    </td>

                    <td>

                        @dr["PartName"]

                    </td>
                    <td>

                        @dr["partnumber"]

                    </td>
                    <td>

                        @dr["quantity"]

                    </td>
                    <td style="text-align: right">

                    @dr["Cost"]
                        </td>

                    <td style="text-align: right">

                        @dr["totalamount"]

                    </td>
                </tr>
            }
        }
    }

</table>
<label id="lblSparesTotal" style="margin-left: 780px; color: brown; padding: 2px;" >Total:  @ViewBag.SparePartsBill</label>
    <br />
    <label id="lbllaborss" style="color:blueviolet; margin-top: 10px;margin-left:400px" ><u>Labor Charges</u></label>  

<table id="tbllabours">

    <tr>
        <th>Sub Categories</th>
        <th>Labor Charges</th>

    </tr>

    @if (ViewBag.GetLaborChargesReport != null)

    {
        var dataTable = ViewBag.GetLaborChargesReport as DataTable;
        if (dataTable != null)
        {
            foreach (DataRow dr in dataTable.Rows)

            {
                <tr>

                    <td>

                        @dr["SubCategory"]

                    </td>

                    <td style="text-align: right">

                        @dr["LaborCharges"]

                    </td>

                </tr>
            }
        }
    }

</table>
<label id="lblLabor" style="margin-left: 780px; color: brown; margin-top: 10px;">Total:    @ViewBag.LaborBill</label>

<br />
    <br/>
<label id="lbllubess" style="color:blueviolet; margin-top: 20px;margin-left: 400px"><u>Lubricants</u></label>  
<table id="tbllubes">

    <tr>
        <th>Id</th>
        <th>Lubricant</th>
        <th>Lubricant Number</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Amount</th>

    </tr>

    @if (ViewBag.ShowSparesGrid != null)

    {
        var dataTable = ViewBag.ShowLubesGrid as DataTable;
        if (dataTable != null)
        {
            foreach (DataRow dr in dataTable.Rows)

            {
                <tr>

                    <td>

                        @dr["Id"]

                    </td>

                    <td>

                        @dr["OilName"]

                    </td>
                    <td>

                        @dr["lubricantnumber"]

                    </td>
                    <td>

                        @dr["quantity"]

                    </td>
                    <td style="text-align: right">

                        @dr["CostPerLitre"]

                    </td>
                    <td style="text-align: right">

                        @dr["totalamount"]

                    </td>
                </tr>
            }
        }
    }

</table>
<label id="lblLubesTotal" style="margin-left: 780px; color: brown; margin-top: 10px">Total:    @ViewBag.LubesBill</label>


<label id="lblOutSourcing" style="color:blueviolet; margin-top: 20px;margin-left: 400px"><u>OutSourcing Details</u></label>  
<table id="tblOutSourcing">

    <tr>
        <th>Vendor</th>
        <th>Job</th>
        <th>Work Order</th>
        <th>Completed Date</th>
        <th>Status</th>
        <th>OutSourcing Amount</th>
      

    </tr>

    @if (ViewBag.GetOutSourcingDetailsList != null)

    {
        var dataTable = ViewBag.GetOutSourcingDetailsList as DataTable;
        if (dataTable != null)
        {
            foreach (DataRow dr in dataTable.Rows)

            {
                <tr>

                    <td>

                        @dr["VendorName"]

                    </td>

                    <td>

                        @dr["jobwork"]

                    </td>
                    <td>

                        @dr["workorder"]

                    </td>
                    <td>

                        @dr["completeddate"]

                    </td>
                    <td>

                        @dr["outsourcingstatus"]

                    </td>
                    <td style="text-align: right">

                        @dr["Amount"]

                    </td>
                    
                </tr>
            }
        }
    }

</table>
<label id="lblOutSourcingTotal" style="margin-left: 780px; color: brown; margin-top: 10px">Total:    @ViewBag.OutSourceBill</label>
<hr/>
<br/>
<div align="right">
    <br/>
    -----------------------------------
    <br/>

              (Work Manager)

</div>
<div align="right">
    <br />
    -----------------------------------
    <br />

    (Store Incharge)

</div>






