@using System.Data
@model IEnumerable<JobCardPendingCases>

@{
    var webGrid = new WebGrid(Model, canSort: false, canPage: false);
}
<link href="~/ScriptsCss/Bindings.css" rel="stylesheet"/>
<style>
    #tbldiv {
        margin-bottom: 20px;
        margin-left: 150px;
        margin-top: -500px;
        position: absolute;
        width: 95%;
    }

</style>

@Html.Hidden("HiddenId");
<link href="~/ScriptsCss/Bindings.css" rel="stylesheet"/>
<link href="~/Content/css/outsourcing.css" rel="stylesheet"/>
<script>
    $(function() {
        $('#txtcompleteddate').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });
    });
</script>

<script type="text/javascript">
    var responseObj = 0;
    var costDetailsData = [];
    var responseData = null;
    $(function() {
        $('#btnSubmit').filter(function() {
            //$(this).hide();
            //$('#divradio').hide();

        });
    });
    $(function() {
        var serviceUrl = '/workshop/Vehicle/GetCostForEachSpare';
        $('#SpareParts').blur(function() {
            var data = {
                spareId: $('#SpareParts option:selected').val()
            };
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response != null) {
                        responseObj = response;
                        $('#txtCost1').val(response);
                    } else {
                        alert('Item not available in the stock');
                        $('#txtCost1').val('');
                    }

                    //costItems[0].ResponseCostDetails;


                },
                failure: function(response) {
                    alert(response.responseText);

                }

            });
        });
    });

    function Validate() {
        var valid = true;
        if ($('#SpareParts option:selected').text() === '--Select--') {

            alert('Please select SparePart');

            valid = false;

        }
        if ($('#HandOver option:selected').text() === '--Select--') {

            alert('Please select HandOver To');

            valid = false;
        }
        if ($('#txtQuantity').val() === '') {

            alert('Please select Quantity');

            valid = false;
        }
        if (valid === true)
            return true;
        else
            return false;

    }

    function ValidateLubes() {
        var valid = true;
        if ($('#Lubricant option:selected').text() === '--Select--') {
            alert('Please select Lubricant');
            valid = false;
        }
        if ($('#HandOverLubes option:selected').text() === '--Select--') {
            alert('Please select HandOver To');
            valid = false;
        }
        if ($('#txtLubesQuantity').val() === '') {
            alert('Please select Quantity');
            valid = false;
        }
        return valid;
    }
    //$(function () {
    //    $('#SpareParts').select2({
    //        disable_search_threshold: 5,
    //        search_contains: true,
    //        minimumResultsForSearch: 20,
    //        placeholder: "--Select--"
    //    });      
    //});
    $(function() {
        var serviceUrl = '/workshop/Vehicle/GetSparePartCost';
        $('#SpareParts').change(function() {
            if ($('#SpareParts option:selected').text() === '--Select--') {
                $("#Lubricant").prop('selectedIndex', 0);
                $('#tblCost').empty();
                //$('#divradio').hide();
                //$('#btnSubmit').hide();
                $('#txtQuantity').val('');
                $('#HandOver').val('');
                $('#tblCostStatus').empty();

            }
            var data = {
                spareId: $('#SpareParts option:selected').val()
            };
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    $('#tblCost').empty();
                    if (response.length <= 0) {
                        $("#SpareParts").prop('selectedIndex', 0);
                        alert('Item not available in stock');
                        $('#tblCost').empty();
                    } else {

                        responseObj = 0;
                        responseObj = JSON.stringify(response[0]["Cost"]);
                        $('#tblCost').empty();
                        CostDetails(response);
                    }
                    // StatusDetails(response);
                    // GetCostDetails(response)
                },
                failure: function(response) {
                    //alert(response.responseText);
                },
                error: function(response) {

                    $("#SpareParts").prop('selectedIndex', 0);
                    alert('Item not available in stock');
                    $('#tblCost').empty();
                }
            });
        });
    });

    function CostDetails(data) {
        costDetailsData = JSON.stringify(data);
        // alert(costDetailsData);
        var eTable =
            "<table id=tblCosts><thead><tr><th id=datess >Last Entry Date</th><th>Quantity</th><th>Cost</th></tr></thead><tbody>";
        for (var i = 0; i < data.length; i++) {
            if (data[i]['LastEntryDate'] != null && data[i]['Quantity'] !== 0) {
                eTable += "<tr>";
                eTable += "<td>" + data[i]['LastEntryDate'] + "</td>";
                eTable += "<td>" + data[i]['Quantity'] + "</td>";
                eTable += "<td>" + data[i]['Cost'] + "</td>";
                eTable += "</tr>";
            }
        }
        eTable += "</tbody></table>";
        $('#tblCost').html(eTable);
    }

    //function StatusDetails(data) {
    //    var eTable =
    //        "<table id=tblStatus  ><thead><tr><th>Quantity</th><th>Total Amount</th><th>Issued Date</th><th>Status</th></tr></thead><tbody>";
    //    for (var i = 0; i < data.length; i++) {
    //        if (data[i]['Quantity'] !== 0 && data[i]['StatusType'] != null) {
    //            eTable += "<tr>";
    //            eTable += "<td>" + data[i]['Quantity'] + "</td>";
    //            eTable += "<td>" + data[i]['TotalAmount'] + "</td>";
    //            eTable += "<td>" + data[i]['IssuedDate'] + "</td>";
    //            eTable += "<td>" + data[i]['StatusType'] + "</td>";
    //            eTable += "</tr>";
    //            $('#btnSubmit').show();
    //        }

    //    }
    //    eTable += "</tbody></table>";
    //    $('#tblCostStatus').html(eTable);
    //}

    $(function() {
        var serviceUrl = '/workshop/Vehicle/CheckSpareQuantity';
        $('#txtQuantity').blur(function() {
            var data = {
                sparePartId: $("#SpareParts").val(),
                quantity: $(this).val()
            };
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response < 0) {
                        alert("SpareParts Qty in Stock is less than Requested Quantity");
                        $("#SpareParts").val('');
                        $('#txtQuantity').val('');
                        $('#tblCost').empty();
                        $('#tblCostStatus').empty();
                    }
                },
                failure: function(response) {
                    // alert(response.responseText);
                }
            });
        });
    });

    $(function() {
        var serviceUrl = '/workshop/Vehicle/CheckLubesQuantity';
        $('#txtLubesQuantity').blur(function() {
            var data = {
                LubricantId: $("#Lubricant").val(),
                quantity: $(this).val()
            };
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response < 0) {
                        alert("Quantity in stock is less than Requested Quantity");
                        $("#Lubricant").val('');
                        $('#txtLubesQuantity').val('');
                        $('#tblCost').empty();
                        $('#tblCostStatus').empty();
                    }
                },
                failure: function(response) {
                    //  alert(response.responseText);
                }
            });
        });
    });

    $(function() {
        var serviceUrl = '/workshop/Vehicle/GetLubesCost';
        $('#Lubricant').change(function() {
            if ($('#Lubricant option:selected').text() === '--Select--') {
                $("#SpareParts").prop('selectedIndex', 0);
                $('#tblCost').empty();
                $('#tblCostStatus').empty();
                return false;
            }
            var data = {
                LubricantId: $('#Lubricant option:selected').val()
            };
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    $('#tblCost').empty();
                    if (response.length <= 0) {
                        alert('Item not available in the stock');
                        $('#Lubricant').prop('selectedIndex', 0);
                    } else {
                        CostDetails(response);
                    }
                    //StatusDetails(response);

                },
                failure: function(response) {
                    // alert(response.responseText);
                }
            });
            return true;
        });
    });


    $(function() {
        var orderItems = [];
        var lubesorderrItems = [];
        var costItems = [];
        var serviceUrl = '/workshop/Vehicle/GetCostForEachSpare';

        $('#btnAdd').click(function() {
            $('#HiddenId').val('');
            var data = {
                SpareId: $('#SpareParts').val()
            };
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    responseObj = response;
                    //$('#txtCost1').val(response);
                    costItems.push({ ResponseCostDetails: response });
                    //costItems[0].ResponseCostDetails;


                },
                failure: function(response) {
                    // alert(response.responseText);

                }

            });
            if (Validate()) {
                $('#btnSubmit').show();
                $('#divradio').show();
                orderItems.push({
                    VehicleNumber: '@ViewBag.VehicleNumber',
                    SparePartId: $('#SpareParts').val(),
                    SparePartName: $('#SpareParts option:selected').text(),
                    Quantity: $('#txtQuantity').val().trim(),
                    HandOverToId: $('#HandOver').val(),
                    HandOverToName: $('#HandOver option:selected').text(),
                    Status: $('input[name="clkradio"]:checked').val(),
                    LubricantId: $('#Lubricant').val(),
                    LubricantName: $('#Lubricant option:selected').text(),
                    LubesQuantity: $('#txtLubesQuantity').val().trim(),
                    LubesHandOverToId: $('#HandOverLubes').val(),
                    LubesHandOverToName: $('#HandOverLubes option:selected').text(),
                    responseCost: $('#txtCost1').val()
                });
                //orderItems.concat(costItems);
                //alert(orderItems);
                generatedItemsTable();
                $("#SpareParts option:selected").attr('disabled', 'disabled');
                $('#SpareParts,#Lubricant').prop('selectedIndex', 0);
                $('#txtQuantity,#txtLubesQuantity').val('');
                return false;
            }
            return true;
        });

        function generatedItemsTable() {
            //var responseCost = $('#txtCost').val();
            if (orderItems.length > 0) {


                var $table = $('<table id=tbl/>');

                $table.append(
                    '<thead><tr><th>SpareParts</th><th>Quantity</th><th>Unit Price</th><th>HandOverTo</th></tr></thead>');

                var $tbody = $('<tbody/>');
                $.each(orderItems,
                    function(i, val) {

                        var id = val.SparePartName;

                        //if (i !== 0 ) {
                        //    alert(i);

                        //    $('#tbl tr td').each(function() {
                        //        if (id === $(this).text()) {

                        //            alert(id + "  " + "Already exists");
                        //            if(i<=0)
                        //                orderItems.splice(i, 1);


                        //            //location.reload();


                        //        }

                        //    });

                        //    }


                        var $row = $('<tr class=nn/>');
                        $row.append($('<td/>').html(val.SparePartName));
                        //$row.append($('<td/>').html(val.IssuedDate));
                        $row.append($('<td/>').html(val.Quantity));
                        $row.append($('<td/>').html(val.responseCost));
                        $row.append($('<td class=amt/>').html(val.HandOverToName));
                        var $remove = $('<a href="#">Remove</a>');
                        $remove.click(function(e) {


                            var vals = $(this).closest("tr").find('td:eq(0)').text();
                            alert(vals);
                            $('#SpareParts option').each(function() {

                                if (this.text === vals) {
                                    alert(this.text);
                                    $(this).attr('disabled', false);

                                    //$('#SpareParts  option').attr('disabled', false);
                                }

                            });
                            e.preventDefault();
                            orderItems.splice(i, 1);
                            generatedItemsTable();

                        });
                        $row.append($('<td/>').html($remove));
                        $tbody.append($row);

                    });
                //duplicates = '';

                $table.append($tbody);
                $('#orderItems').html($table);
            } else {
                $('#orderItems').html('');
                if ($('#LubesorderItems').val() == null) {
                    $('#btnSubmit').hide();
                }

            }
        }

        $('#btnAddLubes').click(function() {
            $('#btnSubmit').show();
            $('#divradio').show();
            if (ValidateLubes()) {
                $('#btnSubmit').show();
                lubesorderrItems.push({
                    VehicleNumber: '@ViewBag.VehicleNumber',
                    LubricantId: $('#Lubricant').val(),
                    LubricantName: $('#Lubricant option:selected').text(),
                    Quantity: $('#txtLubesQuantity').val().trim(),
                    HandOverToId: $('#HandOverLubes').val(),
                    HandOverToName: $('#HandOverLubes option:selected').text(),
                    Status: $('input[name="clkradio"]:checked').val()
                });
                lubesGeneratedItemsTable();
                $("#Lubricant option:selected").attr('disabled', 'disabled');
                $('#SpareParts,#Lubricant').prop('selectedIndex', 0);
                $('#txtQuantity,#txtLubesQuantity').val('');
                return false;
            }
        });

        function lubesGeneratedItemsTable() {
            if (lubesorderrItems.length > 0) {
                var $table = $('<table id=tblLubes/>');

                $table.append('<thead><tr><th>Lubricant</th><th>Quantity</th><th>HandOverTo</th></tr></thead>');

                var $tbody = $('<tbody/>');
                $.each(lubesorderrItems,
                    function(i, val) {
                        var id = val.LubricantName;
                        //if (i !== 0) {
                        //    //lubesorderrItems.splice(i, 1);
                        //    //alert(id + "  " + "Already exists");
                        //    //return false;
                        //    $('#tblLubes tr td').each(function () {
                        //        if (id === $(this).text()) {
                        //            duplicates = id;
                        //            $('#tblLubes tr').remove();

                        //            alert(id + "  " + "Already exists");

                        //            location.reload();
                        //        }
                        //    });
                        //}

                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.LubricantName));
                        $row.append($('<td/>').html(val.Quantity));
                        $row.append($('<td class=amt/>').html(val.HandOverToName));
                        var $remove = $('<a href="#">Remove</a>');
                        $remove.click(function(e) {
                            var vals = $(this).closest("tr").find('td:eq(0)').text();
                            alert(vals);
                            $('#Lubricant option').each(function() {

                                if (this.text === vals) {
                                    alert(this.text);
                                    $(this).attr('disabled', false);

                                    //$('#SpareParts  option').attr('disabled', false);
                                }

                            });
                            e.preventDefault();
                            lubesorderrItems.splice(i, 1);
                            lubesGeneratedItemsTable();
                        });
                        $row.append($('<td/>').html($remove));
                        $tbody.append($row);


                    });

                $table.append($tbody);
                $('#LubesorderItems').html($table);

            } else {
                $('#LubesorderItems').html('');
                if ($('#orderItems').val() == null)
                    $('#btnSubmit').hide();

            }
        }

        $('#btnSubmit').click(function() {
            var serviceUrl;
            var data;
            //if (orderItems.length > 0) {
            serviceUrl = '/workshop/Vehicle/SaveCalculateFIFO';
            data = {
                Status: $('input[name="clkradio"]:checked').val(),
                itemmodel: orderItems,
                itemmodelPending: costDetailsData
            };
            $.ajax({
                type: "POST",
                url: serviceUrl,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response > 0) {
                        alert('Record Inserted');
                        window.location.reload(true);
                        //location.reload();
                        //window.location.href = "/Vehicle/GetPendingStatusDetails";
                    }
                    else if (response < 0) {
                        alert('Available SpareParts Quantity in Stock is less than Requested Quantity');
                    }
                    else if (response === 0) {
                        alert('Record Inserted');
                        window.location.href = "/workshop/Vehicle/GetCompletedStatusDetails";
                    }

                },
                failure: function(response) {
                    //alert(response.responseText);
                    window.location.reload(true);
                }
            });
            // }
            if (lubesorderrItems.length > 0) {
                serviceUrl = '/workshop/Vehicle/SaveCalculateLubesFIFO';
                data = {
                    Status: $('input[name="clkradio"]:checked').val(),
                    itemmodel: lubesorderrItems
                };
                $.ajax({
                    type: "POST",
                    url: serviceUrl,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        if (response >= 0) {
                            alert('Record Inserted');
                            window.location.href = "/workshop/Vehicle/GetPendingStatusDetails";
                        } else if (response < 0) {
                            alert('Available  Quantity of Lubes is less than Requested Quantity');
                        }

                    },
                    failure: function(response) {
                        //alert(response.responseText);
                    }
                });
            }
        });

    });


    function Validations() {

        var status = true;
        var tbody = $("#tbl tbody");
        var tbodyLubes = $("#tblLubes tbody");

        //if (tbody.children().length === 0 && tbodyLubes.children().length === 0) {
        //    return alert('Please add Items');
        //}
        if ($('input[name=clkradio]:checked').length <= 0) {
            alert("Select status");
            status = false;
        }
        return status;

    }
</script>
<h3 style="background-color:teal; color: white; margin-top: -12px; padding: 10px;" align="center">Job Card</h3>

@Html.ActionLink("Previous Repairs", "GetPreviousRepairs", "Vehicle", new {vehicleNumber = ViewBag.VehicleNumber}, new {@class = "myclass"})
@Html.ActionLink("Add Issues", "AddIssues", "Vehicle", new {vehicleNumber = ViewBag.VehicleNumber}, new {@class = "myclass", style = "margin-right:-10px"})
<table class="table1" style="margin-left: 150px; margin-top: 1px; width: 700px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRepair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mechanic)
        </th>

    </tr>

    <tr>
        <td>
            @ViewBag.WorkShopName
        </td>
        <td>
            @ViewBag.VehicleNumber
        </td>
        <td>
            @ViewBag.DateOfRepair
        </td>
        <td>
            @ViewBag.Mechanic
        </td>

    </tr>
</table>
<br/>
<table class="table" style="margin-top: 5px; width: 100%;">
    <tr>

        @*<th>
                    @Html.DisplayNameFor(model => model.VehicleNumber)
                </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AggregateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complaint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AggregateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CostApproximate)
            </td>
        </tr>
    }




</table>
<input type="text" id="txtCost1" placeholder="Labor Cost" onkeypress="return false;" style="margin-top: -5px; visibility: hidden" readonly="readonly">
<div class="form-group" style="margin-left: 730px">
    <label class="control-label  col-lg-4" style="color: red;">Labor :</label>
    <div class="col-lg-8">
        <input type="text" class="form-control" value="@ViewBag.TotalCost" id="txttotalCost" placeholder="Total Cost" onkeypress="return false;" style="margin-left: -40px; margin-top: -5px" readonly="readonly">
    </div>
</div>
<div class="form-group" style="margin-left: 680px; margin-top: 40px">
    <label class="control-label  col-lg-6" style="color: red; width: 160px;">OutSourcing :</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" value="@ViewBag.OutSourcingAmount" id="txttotallaborCost" placeholder="Total Cost" onkeypress="return false;" style="margin-left: -40px; margin-top: -5px" readonly="readonly">
    </div>
</div>
<div class="form-group" style="margin-left: 680px; margin-top: 10px">
    <label class="control-label  col-lg-6" style="color: red; margin-right: 10px; width: 160px;">SpareParts :</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" value="@ViewBag.TotalSparesPendingCost" id="txtsparestotalCost" placeholder="Spares" onkeypress="return false;" style="margin-left: -50px; margin-top: -5px" readonly="readonly">
    </div>
</div>
<div class="form-group" style="margin-left: 680px; margin-top: 10px">
    <label class="control-label  col-lg-6" style="color: red; width: 160px;">Lubricants :</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" value="@ViewBag.TotalLubesPendingCost" id="txtlubestotalCost" placeholder="Lubes" onkeypress="return false;" style="margin-left: -40px; margin-top: -5px" readonly="readonly">
    </div>
</div>
<div class="form-group" style="margin-left: 680px; margin-top: 10px">
    <label class="control-label  col-lg-6" style="color: red; width: 160px;">Total :</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" value="@ViewBag.TotalBillAmount" id="txttotalCost" placeholder="Lubes" onkeypress="return false;" style="margin-left: -40px; color: brown; background-color: white; margin-top: -5px" readonly="readonly">
    </div>
</div>

<br/>
<div class="panel panel-primary" style="height: 40%; margin-left: -5px; margin-top: -100px; position: relative; width: 65%;" align="center">
    <div class="panel-heading">
        Items Issued
    </div>
    <div class="panel-body">

        <table style="border-collapse: collapse; margin-top: -230px; position: relative" align="right">

            <tr>
                <th>SparePart</th>
                <th>Part Number </th>

                <th>Quantity</th>

                <th>Unit Price</th>
                <th>Issued Date</th>
                <th>Total Amount</th>

            </tr>

            @if (ViewBag.InprogressSpares != null)

            {
                var dataTable = ViewBag.InprogressSpares as DataTable;
                if (dataTable != null)
                {
                    foreach (DataRow dr in dataTable.Rows)

                    {
                        <tr>
                            <td>
                                @dr["PartName"]
                            </td>
                            <td>

                                @dr["PartNumber"]

                            </td>

                            <td>

                                @dr["Quantity"]

                            </td>
                            <td>

                                @dr["totalamount"]

                            </td>

                            <td>

                                @dr["IssuedDate"]

                            </td>
                            <td>

                                @dr["TotalCost"]

                            </td>
                            <td>
                                @Ajax.ActionLink("Remove", "DeleteStockIssueDetails", new {id = dr["id"]}, new AjaxOptions
                                {
                                    HttpMethod = "Delete",
                                    Confirm = "Are you sure you want to delete this Record?",
                                    OnComplete = "function() { $(this).parent().parent().remove() }",
                                    OnSuccess = "onSuccess"
                                })
                                @*@Html.ActionLink("Remove", "DeleteStockIssueDetails", new {id = dr["id"]})*@
                            </td>
                        </tr>
                    }
                }
            }

        </table>
        <br/>
        <table style="border-collapse: collapse; margin-top: 2px; position: relative" align="right">

            <tr>
                <th>Lubricant</th>
                <th>Lubricant Number </th>

                <th>Quantity</th>

                <th>Unit Price</th>
                <th>Issued Date</th>
                <th>Total Amount</th>

            </tr>

            @if (ViewBag.InprogressLubes != null)

            {
                var dataTable = ViewBag.InprogressLubes as DataTable;
                if (dataTable != null)
                {
                    foreach (DataRow dr in dataTable.Rows)

                    {
                        <tr>
                            <td>
                                @dr["OilName"]
                            </td>
                            <td>

                                @dr["LubricantNumber"]

                            </td>

                            <td>

                                @dr["Quantity"]

                            </td>
                            <td>

                                @dr["totalamount"]

                            </td>

                            <td>

                                @dr["IssuedDate"]

                            </td>
                            <td>

                                @dr["TotalCost"]

                            </td>
                            <td>
                                @Ajax.ActionLink("Remove", "DeleteLubesIssueDetails", new {id = dr["id"]}, new AjaxOptions
                                {
                                    HttpMethod = "Delete",
                                    Confirm = "Are you sure you want to delete this Record?",
                                    OnComplete = "function() { $(this).parent().parent().remove() }",
                                    OnSuccess = "onSuccess"
                                })
                                @*@Html.ActionLink("Remove", "DeleteStockIssueDetails", new {id = dr["id"]})*@
                            </td>
                        </tr>
                    }
                }
            }

        </table>
    </div>
</div>
<script>
    function onSuccess(result) {
        if (result > 0) {
            alert("Deleted");
            window.location.reload(true);
        }

    }
</script>

<br/>
<div class="panel panel-primary" style="height: 100%; margin-bottom: 50px; margin-top: 10px; position: relative; width: 100%;" align="center">
    <div class="panel-heading">
        Vehicle Pending Status Details
    </div>

    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Spare Part</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("SpareParts", ViewBag.SpareParts as IEnumerable<SelectListItem>, "--Select--", new {@class = "form-control"})
                    </div>
                    <label class="control-label col-lg-4" style="margin-top: 15px;">Quantity</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtQuantity" placeholder="Quantity" style="border: 1px solid grey; margin-top: 15px;" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g, '');">
                    </div>
                    <label class="control-label  col-lg-4" style="margin-top: 15px;">HandOver To</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("HandOver", ViewBag.HandOver as IEnumerable<SelectListItem>, "--Select--", new {@class = "form-control", placeholder = "HandOver To", style = "margin-top:15px "})
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">

                    <div class="col-sm-4" style="margin-top: 100px">
                        <button type="submit" id="btnAdd" class="btn btn-default" style="background-color: blue; color: white; margin-left: -140px;" onclick="if (!Validate) return false;">Add</button>
                    </div>
                </div>


            </form>
        </div>
        <hr/>

        <div class="col-lg-6" style="margin-left: -500px; margin-top: 35px;">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-4">Lubricant</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("Lubricant", ViewBag.Lubes as IEnumerable<SelectListItem>, "--Select--", new {@class = "form-control", style = "margin-left:-10px"})
                    </div>
                    <label class="control-label col-lg-4" style="margin-top: 15px;">Quantity</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="txtLubesQuantity" placeholder="Quantity" style="border: 1px solid grey; margin-top: 15px;" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g, '');">
                    </div>
                    <label class="control-label  col-lg-4" style="margin-top: 15px;">HandOver To</label>
                    <div class="col-lg-8">
                        @Html.DropDownList("HandOverLubes", ViewBag.HandOver as IEnumerable<SelectListItem>, "--Select--", new {@class = "form-control", placeholder = "HandOver To", style = "margin-top:10px"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" id="btnAddLubes" class="btn btn-default" style="background-color: blue; color: white; margin-left: 390px; margin-top: -90px;">Add</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="form-group" style="margin-bottom: -100px">
            <div class="col-lg-4">
                <div class="panel-body" id="orderItems"></div>

            </div>
        </div>
        <div class="form-group" style="margin-bottom: -100px; position: absolute;">
            <div class="col-lg-4">
                <div class="panel-body" id="LubesorderItems"></div>

            </div>
        </div>
        <div class="col-lg-6" style="margin-bottom: 10px; margin-left: 500px; margin-top: 10px;" id="divradio">
            <input name="clkradio" type="radio" value="Inprogress"/>In progress
            <input style="margin-left: 30px" name="clkradio" type="radio" value="Completed"/>Completed
            <button type="submit" id="btnSubmit" class="btn btn-default" style="background-color: blue; color: white;" onclick="if (!Validations()) return false;">Submit</button>
        </div>
        <table id="tblCost" style="float: right; width: 30%;"></table>
        <table id="tblCostStatus" align="center" style="float: right; width: 30%;"></table>

        <div class="container" style="margin-left: 560px; margin-top: 1px; position: absolute; width: 500px;">
            <div class="main">
                <div id="dialog" title="OutSourcing Job" style="margin-top: -300px">
                    <form action="" method="post">
                        <label>Vendor:</label>
                        <input type="text" id="txtvendor" name="Vendor" placeholder="Vendor" style="border: 1px solid grey;">
                        <label>JobWork:</label>
                        <textarea id="txtjobwork" rows="4" cols="50"></textarea>
                        <label>Work Order:</label>
                        <input id="txtworkorder" name="workorder" type="text" style="border: 1px solid grey;">
                        <label>Status:</label>
                        <select class="form-control" id="txtstatus" name="Status">
                            <option value="0">--Select--</option>
                            <option value="1">Pending</option>
                            <option value="2">Close</option>
                        </select>
                        <label>Completed Date:</label>
                        <input id="txtcompleteddate" name="Completed Date" type="text" onkeypress="return false;" style="border: 1px solid grey;">
                        <label>Amount:</label>
                        <input id="txtAmount" name="Amount" type="text" style="border: 1px solid grey;" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g, '');">
                        <input id="submit" type="submit" value="Submit">
                    </form>
                </div>
                <input id="button" type="button" value="Out Sourcing Job" style="margin-left: 30px">

            </div>


        </div>

    </div>

    <script>
        $(document).ready(function() {
            $(function() {
                $("#dialog").dialog({
                    autoOpen: false
                });
                $("#button").on("click",
                    function() {
                        $("#dialog.ui-dialog-titlebar-close").show();
                        $("#dialog").dialog("open");
                    });
                $("#submit").on("click",
                    function() {
                        var serviceUrl = "/workshop/Vehicle/getOutSourcingJobDetails";
                        var newUrl = '@Url.Action("GetPendingStatusDetails", "Vehicle")';
                        var data = {
                            Vendor: $('#txtvendor').val(),
                            JobWork: $('#txtjobwork').val(),
                            workOrder: $('#txtworkorder').val(),
                            OutSourcingStatus: $('#txtstatus').val(),
                            CompletedDate: $('#txtcompleteddate').val(),
                            Amount: $('#txtAmount').val()
                        };
                        $.ajax({
                            type: "POST",
                            url: serviceUrl,
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(response) {
                                if (response !== 0) {
                                    alert('Records Updated');
                                    window.location.href = newUrl;
                                  
                                }

                            },
                            failure: function(response) {
                                // alert(response.responseText);
                            }
                        });
                    });
            });

        });
    </script>

    <div class="panel-footer">


    </div>
</div>

<div>
    @Html.ActionLink("Back", "GetPendingStatusDetails")
</div>