@model IEnumerable<JobCardPendingCases>

@{
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, canPage: false);
}
<link href="~/ScriptsCss/Bindings.css" rel="stylesheet" />
<script type="text/javascript">
    $(function(){
        $('#btnSubmit').filter(function () {
            $(this).hide();

        })
    })

    var vehicleNumber=0;
    $(function () {
        $('.myclass').click(function ()
        {
            vehicleNumber = $(this).text()
            $('#tblCost').empty();
            
            $(window).scrollTop($('#pendingDivId').offset().top)
        })
    })

    $(function () {
        var orderItems = [];
        $('#btnAdd').click(function () {           
            $('#btnSubmit').show();
            orderItems.push({
                VehicleNumber: vehicleNumber,
                LubricantId: $('#Lubricant').val(),
                LubricantName: $('#Lubricant option:selected').text(),
                Quantity: $('#txtQuantity').val().trim(),
                HandOverToId: $('#HandOver').val(),
                HandOverToName: $('#HandOver option:selected').text(),
                Status: $('input[type="radio"]').val(),
                WorkShopName: $('#WorkShopName').text()
            });
            GeneratedItemsTable();
            return false;

        });
        function GeneratedItemsTable() {
            if (orderItems.length > 0) {

                var $table = $('<table id=tbl/>');

                $table.append('<thead><tr><th>Vehicle Number</th><th>Lubricant Name</th><th>Quantity</th><th>HandOver To</th></tr></thead>');

                var $tbody = $('<tbody/>');
                $.each(orderItems, function (i, val) {

                    var $row = $('<tr/>');

                    $row.append($('<td/>').html(val.VehicleNumber));

                    $row.append($('<td/>').html(val.LubricantName));

                    $row.append($('<td/>').html(val.Quantity));
                    $row.append($('<td class=amt/>').html(val.HandOverToName));
                    var $remove = $('<a href="#">Remove</a>');
                    $remove.click(function (e) {
                        e.preventDefault();
                        orderItems.splice(i, 1);
                        GeneratedItemsTable();
                    });
                    $row.append($('<td/>').html($remove));
                    $tbody.append($row);
                });

                $table.append($tbody);

                $('#orderItems').html($table);

            }
            else {
                $('#orderItems').html('');
            }
        }

        $('#btnSubmit').click(function () {
            var serviceURL = '/Vehicle/SaveCalculateLubesFIFO';
            var data = {
                //Status: $('input[type="radio"]').val(),
                itemmodel: orderItems
            };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != 0) {
                        alert('Record Inserted');
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        });

    });
    
</script>
<div class="panel panel-primary" style="width: 100%; height: 100%; margin-top: 20px;" align="center">
    <div class="panel-heading">
        Vehicle Approval
    </div>
    <table class="table" style="margin-top:40px;width:750px" align="center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRepair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.ActionLink(item.VehicleNumber, "EditPendingStatusDetails", new { id=item.VehicleId })*@
                    @Ajax.ActionLink(item.VehicleNumber, "EditLubesPendingStatusDetails", new { id = item.VehicleId }, new AjaxOptions()
               {
                   HttpMethod = "Get",
                   UpdateTargetId = "pendingDivId",
                   InsertionMode = InsertionMode.Replace@*,OnSuccess="PopupDialog()"*@}, new { @class = "myclass" })
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.VehicleNumber)block
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRepair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complaint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }

    </table>
    <br />

    <div style="width:400px;margin-top:20px;margin-bottom:140px" id="pendingDivId" align="center">

    </div>
    <div class="col-lg-6" style="margin-top:-70px;margin-left:100px;">
        <form class="form-horizontal">

            @*<div class="form-group">
                    <label class="control-label  col-lg-3">Spare Parts</label>
                    <div class="col-lg-4">

                        @Html.DropDownList("SpareParts", ViewBag.SpareParts as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control" })
                    </div>
                </div>*@
            <div class="form-group">
                <label class="control-label col-lg-2" style="margin-left:280px;margin-top:-50px;">Quantity</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" style="margin-top:-50px;margin-left:350px" id="txtQuantity" placeholder="Quantity">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2">
                    <label class="control-label  col-lg-2" style="margin-left:490px;margin-top:-68px;">HandOver</label>
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("HandOver", ViewBag.HandOver as IEnumerable<SelectListItem>, "--Select--", new { @class = "form-control", @style = "margin-top:-67px;margin-left:500px", @placeholder = "HandOver To" })
                    @*<input type="text" class="form-control" style="margin-top:-67px;margin-left:490px" id="txtSalary" placeholder="Quantity">*@
                </div>

            </div>
            <div class="form-group">
                <div class="col-lg-2">
                    <button type="submit" id="btnAdd" class="btn btn-default" style="background-color: blue;margin-left:760px;margin-top:-150px; color: white">Add</button>
                </div>
                <div class="col-lg-6">
                    <table id="tblCost" align="center"></table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4">
                    <div class="panel-body" id="orderItems"></div>

                </div>
            </div>
            <div class="col-lg-6">
                <input name="clkradio" type="radio" value="Inprogress" />In progress
                <input style="margin-left:30px" name="clkradio" type="radio" value="Completed" />Completed
            </div>
            <div>
                <button type="submit" id="btnSubmit" class="btn btn-default" style="background-color: blue; color: white;">Submit</button>
            </div>
        </form>
    </div>
    <div class="panel-body" id="orderItems" style="margin-top:50px;" align="center"></div>

    <div class="panel-footer">

    </div>
</div>


