@model Fleet_WorkShop.Models.VehicleModel
<script type="text/javascript">

    $(function () {
        $('#DateOfRepair').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });        
    });
    </script>
<div class="panel panel-primary" style="width: 100%; height: 100%; margin-top: 20px;" align="center">
    <div class="panel-heading">
        Job Card Details
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="col-lg-6" >

                    <div class="form-group">
                        @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-2",@style="margin-left:40px" })
                        <div class="col-md-8">
                            @foreach (var districtName in Model.District)
                            {

                                if (districtName.Text == Model.DistrictName)
                                {
                                    Model.DistrictId = Convert.ToInt32(districtName.Value);
                                    @Html.DropDownListFor(model => model.DistrictId, Model.District, "--Select--", new { @class = "form-control", @style = "margin-left:10px" })
                                    @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                                }
                            }
                            </div>
                        </div>
                    <div class="form-group">

                            @Html.LabelFor(model => model.Vehicle, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:40px" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.VehId, Model.Vehicle, "--Select--", new { @class = "form-control", @style = "margin-left:10px" })
                            @Html.ValidationMessageFor(model => model.ManufacturerId, "", new { @class = "text-danger" })


                        </div>
                    </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NatureOfComplaint, htmlAttributes: new { @class = "control-label col-md-4", @Style = "margin-left:-20px" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.NatureOfComplaint, Model.ComplaintsNature, "--Select--", new { @class = "form-control", @Style = "margin-left:-45px" })

                    </div>
                </div>
            </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfRepair, htmlAttributes: new { @class = "control-label col-md-4",@Style="margin-left:-20px" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DateOfRepair, new { htmlAttributes = new { @class = "form-control", @Style = "margin-left:-20px" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ModelYear, htmlAttributes: new { @class = "control-label col-md-4", @Style = "margin-left:-20px" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ModelYear, new { htmlAttributes = new { @class = "form-control", @Style = "margin-left:-20px" } })
                            @Html.ValidationMessageFor(model => model.ModelYear, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" style="margin-left:-30px">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Odometer, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Odometer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Odometer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ApproximateCost, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ApproximateCost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ApproximateCost, "", new { @class = "text-danger" })
                        </div>


                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-top:20px;margin-left:-60px">
                        <input type="submit" id="btnEdit" style="background-color:blue;color:white;width:100px" value="Save" class="btn btn-default" />
                    </div>
                </div>


            </div>

    }
</div>
<div>
    @Html.ActionLink("Back", "GetJobCardDetails")
</div>
