@model IEnumerable<Fleet_WorkShop.Models.VehicleModel>

<link href="~/ScriptsCss/Bindings.css" rel="stylesheet"/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleId)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Odometer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PilotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproximateCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDelivery)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllotedMechanicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaborCharges)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Odometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PilotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproximateCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllotedMechanicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborCharges)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Ajax.ActionLink("Delete", "Delete", new {id = item.Id}, new AjaxOptions
                {
                    HttpMethod = "Delete",
                    Confirm = "Are you sure you want to delete this Record?",
                    OnComplete = "function() { $(this).parent().parent().remove() }"
                })
            </td>
        </tr>
    }

</table>